* {
    font-family: 'IBM Plex Serif', serif;
}

h1 {
    display: flex;
    justify-content: center;
}

.newmail, .backtolist, .contact, .newcontact {
    text-decoration: none;
    color: white;
    background-color: #26a69a;
    border: solid #26a69a;
    border-radius: 50px;
    font-size: 30px;
}

.open, .delete, .edit {
    color: white;
}

.block {
    margin-top: 0;
    display: flex;
    justify-content: center;
}

.content {
    width: 50%;
    height: auto;
    text-align: center;
    line-height: 2.5;
    margin: 0;
}

p {
    height: 70px;
    border: 2px solid gray;
    margin: 0;
}

.subject, .sender, .message {
    font-weight: bold;
    font-size: 15px;
    color: #07ae9f;
}