{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href=" {{ asset('index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
{% endblock %}

{% block body %}

    <div class="container">
        <h1> Edit a contact </h1>
        <div class="preview">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>

    <h2><a class="backtolist" href="/contact">Back to the contact list</a></h2>
    <td class="btn"><a class="delete" href="{{ path('delete_contact', {'id': contact.id}) }}">Delete</a></td>
{% endblock %}