{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href=" {{ asset('index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
{% endblock %}

{% block body %}
    <div class="container">
        <h1>Umail</h1>
        <h2><a class="newcontact" href="/contact/new">New contact</a></h2>
            <table>
                <tr>
                    <th>Name</th>
                    <th>Last name</th>
                    <th>Email</th>
                </tr>
                {% for contact in contact %}
                    <tr>
                        <td>{{ contact.firstName }}</td>
                        <td>{{ contact.lastName }}</td>
                        <td>{{ contact.email }}</td>
                        <td class="btn"><a class="delete" href="{{ path('delete_contact', {'id': contact.id}) }}">Delete</a></td>
                        <td class="btn"><a class="edit" href="{{ path('edit_contact', {'id': contact.id}) }}">Edit</a></td>
                    </tr>
                {% endfor %}
            </table>
        <h2><a class="backtolist" href="/">Back to list</a></h2>
    </div>
{% endblock %}
