{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href=" {{ asset('index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
{% endblock %}

{% block title %}
    New contact
{% endblock %}

{% block body %}
    <div class="container">
        <h1> Register a new contact </h1>
        <div class="preview">
            {{ form_start(form) }}
                {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
        <h2><a class="backtolist" href="/">Back to list</a></h2>
    </div>
{% endblock %}
