{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href=" {{ asset('index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

{% endblock %}
{% block title %}Mailbox{% endblock %}

{% block body %}
    <div class="container">
        <h1>Umail</h1>
            <h2><a class="newmail" href="/new">New mail</a> <a class="contact" href="/contact">Contact</a></h2>
            <br>
        <table>
            <tr class="labels">
                <th>Date</th>
                <th>Subject</th>
                <th>Recipient</th>
                <th>Sender</th>
                <th>Message</th>
            </tr>
            {% for email in email %}
            <tr>
                <td>{{ email.date | date('m/d/Y') }}</td>
                <td>{{ email.subject }}</td>
                <td>{{ email.recipient }}</td>
                <td>{{ email.sender }}</td>
                <td>{{ email.message }}</td>
                <td class="btn"><a class="open" href="{{ path('show_id', {'id': email.id}) }}">Open</a></td><td class="btn"><a class="delete" href="{{ path('delete_id', {'id': email.id}) }}">Delete</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}
