{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href=" {{ asset('index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

{% endblock %}
{% block title %}
    Send a new mail
{% endblock %}

{% block body %}
    <div class="container">
        <h1> Send a mail </h1>
        <div class="preview">
            {{ form_start(form) }}

                {{ form_label(form.subject) }}
                {{ form_widget(form.subject) }}

                {{ form_label(form.sender) }}
                {{ form_widget(form.sender) }}

                {{ form_label(form.recipient) }}
                {{ form_widget(form.recipient) }}

                {{ form_label(form.message) }}
                {{ form_widget(form.message) }}

                {{ form_label(form.category) }}
                {{ form_widget(form.category) }}

            {{ form_end(form) }}
        </div>
        <h2><a class="backtolist" href="/">Back to list</a></h2>
    </div>
{% endblock %}
