{% extends 'base.html.twig' %}
{% block stylesheets %}
    <link href=" {{ asset('index.css') }}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=IBM+Plex+Serif" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

{% endblock %}
{% block title %}Mail{% endblock %}

{% block body %}
    <h1>Umail</h1>
    <div class="block">
        <div class="content">
            <br>
            <div class="subject">Subject</div>
            <p>{{ email.subject }}</p>
            <div class="sender">Mail sent by</div>
            <p>{{ email.sender }}</p>
            <div class="message">Content</div>
            <p>{{ email.message }}</p>
        </div>
    </div>

        <h2><a class="backtolist" href="/">Back to list</a></h2>
{% endblock %}